body{
    background-color: #ECF1F1;
}
html, body{
    margin: 0px;
    padding: 0px;
}
.product-container{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 800px;
    box-sizing: border-box;
    padding-top: 70px;
}
nav{
    display: flex;
    justify-content: right;
    background-color: green;
    border-top: 3px solid darkgreen;
    border-bottom: 3px solid darkgreen;
    padding-top: 8px;
    padding-bottom: 8px;
}
nav a{
    color: white;
    width: 87px;
    font-size: 20px;
    text-decoration: none;
}
nav a:hover{
    background-color: lightgray;
    color: black;
}
product-image{
    width: 40px;
}
img{
    width: 150px;
    height: 180px;
    object-fit: cover; 
}
.img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.row{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 100px;
}
#promo-code{
    background-color: #C28045;
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
footer{
    background-color: green;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.row2{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.related-products-name{
    background-color: #DCB;
    width: 170px;
    border: 2px solid black;
    padding-left: 13px;
    padding-right: 5px;
    padding-top: 20px;
    position: relative;
}
.related-products-name:hover .name{
    visibility: visible;
}
 .name{
    visibility: hidden;
    background-color:   #89EB;
    width: 100%;
    height: 40px;
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.main-picture {
    width: 100%;
    height: 600px;
}
.circle1 img{
    border-radius: 50%;
    border: 8px solid #D8D51E;
}


.circle2 img{
    border-radius: 50%;
    border: 8px solid #D8D51E;
}
.circle3 img{
    border-radius: 50%;
    border: 8px solid #D8D51E;
}
.row-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    gap: 40px;
}
.person:hover .hover{
    visibility: visible;
}

.person .hover {
    border: black 3px solid;
    visibility: hidden;
    background-color: #ABF8FA;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
}
.nave{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.person{
    position: relative;
}
.parg{
    text-align: center;
}
.parg:hover {
    background-color: lightgray;
}
.about-us{
    margin-top: 10px;
}





